*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.home-page{
    width: 100%;
    height: 100%;
}
.home-page img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.block{
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: fit-content;
    display: grid;
    place-items: center;
}

.block-icons{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}
.block-row{
    display: flex;
    justify-content: center;
    gap: 3.5rem;
}
.block-app{
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.4s ease;
}
.block-app:hover{
    transform: scale(1.3);
}
.block-app img{
    width: 4rem;
    height: 4rem;
}

.block-app a{
    display: inline-block;
    
}