/* google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/*  VARIABLES : */

:root {
    /*color */
    --Background_border-bottom:rgba(255, 255, 255, 0.2);
    --Background_border:  rgba(209, 213, 219, 0.3);
    --Background_first:rgba(200, 200, 200, 0.3);
    --Background_second: rgba(236, 236, 236, 0.5);
    --Background_Third: rgba(255, 255, 255, 0.3);
    --Background_fourth:rgba(180, 180, 180, 0.774);
    --color-text: #fff;
}

body {
  font-family: 'OpenSans', sans-serif;
  color: var(--mainBlack); 
  background: url(/image/background.jpg);    
  background-size: auto;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  direction: ltr;
  width: 100%;
  height: 100vh;
}

/*------------- 
Menu Bar 
-------------*/

.Menu-bar {
  margin-top: 5.6rem;
}

.menu-item{
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  background: var(--Background_first);
  text-align: center;
  backdrop-filter: blur(1.1rem) saturate(180%);
  border-radius: 2.3rem;
  border: 0.1rem solid var(--Background_border);
  display: inline-block;
  padding: 0;
}

.menu-button {
  display: grid;
  margin: 0.7rem 0.4rem;
  border-radius: 50%;
  overflow: hidden;
  /*border: 0.1rem solid #fff;*/
  width: 1.8rem;
  height: 1.8rem;
  align-items: center;
}

.menu-button img {
  display: block;
  width: 100%;
  height: auto;
  fill-rule:calc(var(--color-text));
}



.notes {
  display: flex;
}

.notes__sidebar {
  height: 59vh;
  width: 15.6rem;
  padding: 1.5rem 0.75rem 0.2rem;
  position: sticky;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-out;
  backdrop-filter: blur(1.1rem) saturate(180%);
  background: var(--Background_Third);
  border-radius: 1.5rem;
  border: 0.1 solid var(--Background_border);
  margin: 1.3rem;
}

.notes__sidebar 

.notes__logo {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  font-weight: 800;
  border-bottom: 0.1rem solid var(--Background_border-bottom);
  color: var(--color-text);
  padding: 2rem 0;
  text-align: center;
}

.notes__list {
  flex-grow: 1;
  margin-top: 1rem;
  overflow-y: auto;
  margin-bottom: 1rem;
  scrollbar-width: none;
}

.notes__list::-webkit-scrollbar {
  display: none;
  
}
.notes__list-item {
  border-bottom: 0.1rem solid var(--Background_border-bottom);
  margin: 0.9rem 0;
  cursor: pointer;
  color: var(--color-text);
}

.notes__list-item--selected {
  background: #d0d0d0;
  color: var(--color-text);
  border-radius: 0.4rem;
  font-weight: bold;
  padding: 0.3rem;
}

.notes__small-title,
.notes__small-updated {
  padding: 0.6rem;
}

.notes__small-title {
  font-size: 1.2rem;
}

.notes__small-body {
  padding: 0 0.6rem;
}

.notes__small-updated {
  color: var(--color-text);
  font-style: italic;
  text-align: left;

}
.notes__add {
  background: var(--Background_second);
  border: none;
  border-radius: 0.5rem;
  color: var(--color-text);
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.75rem 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
}




.notes__add:hover {
  background-color: var(--Background_fourth);;
}

/*  NOTE PREVIEW  SECTION */
.notes__preview {
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
  flex-grow: 1;
  backdrop-filter: blur(1.1rem) saturate(180%);
  background: rgba(183, 178, 178, 0.43);
  border-radius: 1rem;
  border: 0.1rem solid var(--Background_Third);
  margin-bottom: 0.3rem;

}

.notes__title,
.notes__body {
  border: none;
  outline: none;
  width: 100%;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.notes__title {
  font-size: 3em;
  font-weight: bold;
  backdrop-filter: blur(1.1rem) saturate(180%);
  background: rgba(255, 255, 255, 0.43);
  border-radius: 0.3rem;
  border: 0.1rem solid var(--Background_border);
  margin-bottom: 0.3rem;
  color: var(--color-text);

}

.notes__body {
  flex-grow: 1;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 2em;
  resize: none;
  backdrop-filter: blur(1.1rem) saturate(180%);
  background: rgba(255, 255, 255, 0.43);
  border-radius: 0.5rem;
  border: 0.1rem solid var(--Background_border);
  margin-bottom: 0.3rem;
  color: var(--color-text);
}




.notes__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
}

.notes__list-trash {
  width: 2.1rem;
  height: 2.1rem;
  background: var(--color-text);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--mainRed);
}

.notes__list-trash .fa {
  color: var(--Background_fourth);
}
